/* Reset and Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7e9be;
    color: #333;
    margin: 0;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar nav a {
    color: #333;
    text-decoration: none;
}



/* Navigation Bar Custom Styling */
ul {
    background-color: lavender;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: lightblue;

}

li a:hover {
    background-color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eff0d8;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: pink;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/* Container Styling */
.container {
    width: 80%;
    max-width: 500px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    
}

h1, h2 {
    text-align: center;
    color: #333;
    
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #81a2e9;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #835eb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6f89ac;
}

#postsContainer .post {
    background: #f0f7b4;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    
}
.travel-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px; 
    background-color: #eff0d8;
}

.travel-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.travel-text {
    max-width: 400px;
}

.travel-text h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.travel-text p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}
